:root{
  --blueDark :#282C34;
  --white : #fff;
}

body{
  margin:0;
  background-color:var(--blueDark);
  color : var(--white);
  font-family: 'Montserrat'
}

.trivia{
  min-height:100vh;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas:"start";
}

.trivia.go{
  grid-template: 1fr 200px / 1fr;
  grid-template-areas:"start"
                      "points";
  
}

