.title{
  font-size: 5em;
  margin: 0;
}

.start-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-go{
  border:none;
  width: 100px;
  padding: .8em 1em;
  border-radius:4px;
  background-color: #865FC5;
  color: #fff;
  outline: 0; 
  transition: .3s;
}

.btn-go:active{
  transform: scale(.9)
}

